:root {
    --vp-c-brand: #3b82f6;
    --vp-c-brand-light: #3b82f6;
    --vp-font-family-base: "BasisGrotesquePro";
    --vp-c-text-1:#1f2937;
}

.dark {
    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-brand: var(--vp-c-text-dark-1);
}

h1, h2, h3, h4, h5, h6 {
    @apply font-heading !font-medium;
}

.title {
    @apply font-heading !font-medium !text-lg;
}

.vp-doc table {
    @apply table w-fulll;
}