:root {
    --vp-c-brand: #3b82f6;
    --vp-c-brand-light: #3b82f6;
    --vp-font-family-base: "BasisGrotesquePro";
    --vp-c-text-1:#1f2937;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Recoleta";
    font-weight: 500 !important;
}